body {
    margin: 0;
    background-image: url('../imgs/bikini_bottom_scenic.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000;
}

.pre_text {
    text-align: center;
}

canvas {
    margin: auto;
}
